.listening-rect {
    fill: transparent;
}

.dem-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
}

.rep-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
}

.ind-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
}